# Unit 2
---




1. [Introducing Pandas](#section1)
2. [Reading files](#section2)
3. [Selecting data](#section3)
4. [Conditional selection](#section4)

<a id='section1'></a>

## 1. Introducing Pandas
---

<div>
<img src="images/pandas.JPG" width="400"/>
</div>



[Panda's documentation](https://pandas.pydata.org/pandas-docs/stable/)

To begin we need to import pandas
When you see pd, know it is referring to pandas

In [1]:
import numpy as np
import pandas as pd

Pandas is a popular Python library used for working in tabular data (similar to the data stored in a spreadsheet).

There are two main data structure used by pandas
- Series: like a vector or a list
- Dataframe: equivalent to a table. 

Each column in a pandas Dataframe is a pandas Series data structure. We will mainly be looking at the Dataframe.

We can easily create a Pandas Dataframe by reading a .csv file

<a id='section2'></a>

## 2. Reading files
---

<div>
<img src="images/reading.PNG" width="400"/>
</div>


We will read the whole file at once using Pandas.
Sometimes you might want to read the file line by line, and process each line. Thats possible of course. See for example [here.](https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/)

We will read data on [COVID-19 vaccinations](https://github.com/owid/covid-19-data/tree/master/public/data/vaccinations)

In order to do that, I retrieved the raw data's url

<div>
<img src="images/raw.png" width="800"/>
</div>

In [2]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)

read_csv has about 30 different options. See the 
[documentation](https://pandas.pydata.org/pandasdocs/stable/reference/api/pandas.read_csv.html#pandas.read_csv)

For example, sep='\t' is used for tab delimited files and 'usecol' reads only specific columns.

In [5]:
type(vacc_df)

pandas.core.frame.DataFrame

view the shape of the dataframe:

In [6]:
vacc_df.shape

(5733, 12)

view basic information:

In [7]:
vacc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5733 entries, 0 to 5732
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   location                             5733 non-null   object
 1   iso_code                             5393 non-null   object
 2   date                                 5733 non-null   object
 3   total_vaccinations                   3703 non-null   float64
 4   people_vaccinated                    3304 non-null   float64
 5   people_fully_vaccinated              2261 non-null   float64
 6   daily_vaccinations_raw               3132 non-null   float64
 7   daily_vaccinations                   5546 non-null   float64
 8   total_vaccinations_per_hundred       3703 non-null   float64
 9   people_vaccinated_per_hundred        3304 non-null   float64
 10  people_fully_vaccinated_per_hundred  2261 non-null   float64
 11  daily_vaccinations_per_million       5546 non-null   float64
dtypes: float64(9), object(3)
memory usage: 537.6+ KB

In [8]:
vacc_df.columns

Index(['location', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred',
       'daily_vaccinations_per_million'],
      dtype='object')

View the first few rows:

In [9]:
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Albania,ALB,2021-01-10,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
1,Albania,ALB,2021-01-11,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,22.0
2,Albania,ALB,2021-01-12,128.0,128.0,NaN,NaN,64.0,0.00,0.00,NaN,22.0
3,Albania,ALB,2021-01-13,188.0,188.0,NaN,60.0,63.0,0.01,0.01,NaN,22.0
4,Albania,ALB,2021-01-14,266.0,266.0,NaN,78.0,66.0,0.01,0.01,NaN,23.0

What do you think that the 'tail' command does? Try it out!

What happens if we just type vacc_df, without a head or a tail?

In [ ]:
vacc_df.describe()

A summary of the functions so far:

* `pd.read_csv` - Read data from a CSV file into a Pandas `DataFrame` object
* `.info()` - View basic infomation about rows, columns & data types
* `.describe()` - View statistical information about numeric columns
* `.columns` - Get the list of column names
* `.shape` - Get the number of rows & columns as a tuple
* `.head`, `.tail`

<a id='section3'></a>

---
## 3. Selecting data

![](https://i.imgur.com/zfxLzEv.png)

In [6]:
# Pandas format is NOT similar to this
covid_data_list = [
    {'date': '2020-08-30', 'new_cases': 1444, 'new_deaths': 1, 'new_tests': 53541},
    {'date': '2020-08-31', 'new_cases': 1365, 'new_deaths': 4, 'new_tests': 42583},
    {'date': '2020-09-01', 'new_cases': 996, 'new_deaths': 6, 'new_tests': 54395},
    {'date': '2020-09-02', 'new_cases': 975, 'new_deaths': 8 },
    {'date': '2020-09-03', 'new_cases': 1326, 'new_deaths': 6},
]
covid_data_list

[{'date': '2020-08-30',
  'new_cases': 1444,
  'new_deaths': 1,
  'new_tests': 53541},
 {'date': '2020-08-31',
  'new_cases': 1365,
  'new_deaths': 4,
  'new_tests': 42583},
 {'date': '2020-09-01', 'new_cases': 996, 'new_deaths': 6, 'new_tests': 54395},
 {'date': '2020-09-02', 'new_cases': 975, 'new_deaths': 8},
 {'date': '2020-09-03', 'new_cases': 1326, 'new_deaths': 6}]

In [ ]:
# Pandas format is simliar to this
covid_data_dict = {
    'date':       ['2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03'],
    'new_cases':  [1444, 1365, 996, 975, 1326],
    'new_deaths': [1, 4, 6, 8, 6],
    'new_tests': [53541, 42583, 54395, None, None]
}

#### The index of a dataframe doesn't have to be numeric

In [ ]:
df = pd.DataFrame({'age':[30, 2, 12, 4, 32, 33, 69],
                   'color':['blue', 'green', 'red', 'white', 'gray', 'black', 'red'],
                   'food':['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'],
                   'height':[165, 70, 120, 80, 180, 172, 150],
                   'score':[4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'state':['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                   },
                  index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])
df

In our case it just happens to be numeric:

In [ ]:
vacc_df.head()

In [ ]:
vacc_df.location
#is the same as this:
vacc_df['location']

note: using the `.` notation is possible only for columns whose names do not contain spaces or special characters

what data type is vacc_df.location? (list? series? dataframe?)

In [ ]:
type(vacc_df.location)

In [ ]:
#retrieve a specific cell
vacc_df.location[333]

In [ ]:
#retrieve two columns
vacc_df[['location','date']]

#### Seletcting subsets of rows and columns

One way to do that is iloc. 

`.iloc` - selects subsets of rows and columns by integer location only

In [7]:
#Rows:
vacc_df.iloc[0]  #first row
vacc_df.iloc[-1] #last row

location                                 Zimbabwe
iso_code                                      ZWE
date                                   2021-03-17
total_vaccinations                          39607
people_vaccinated                           39607
people_fully_vaccinated                       NaN
daily_vaccinations_raw                         57
daily_vaccinations                            529
total_vaccinations_per_hundred               0.27
people_vaccinated_per_hundred                0.27
people_fully_vaccinated_per_hundred           NaN
daily_vaccinations_per_million                 36
Name: 7632, dtype: object

The : operator 

 - when used alone it means "everything"

- also used to indicate a ***slice*** of values

In [8]:
vacc_df.iloc[1:2] # second and third row
vacc_df.iloc[[-1,2,22]] #a few specific rows

# Columns:
vacc_df.iloc[:,0] # first column of data frame  
vacc_df.iloc[:,1] # second column of data frame  
vacc_df.iloc[:,-1] # last column of data frame

#Rows and columns
vacc_df.iloc[0:5] # first five rows of dataframe
vacc_df.iloc[:, 0:2] # first two columns of data frame with all rows
vacc_df.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.

       location  people_fully_vaccinated  daily_vaccinations_raw
0   Afghanistan                      NaN                     NaN
3   Afghanistan                      NaN                     NaN
6   Afghanistan                      NaN                     NaN
24       Africa                      NaN                  2823.0

What if I want to select the 'daily_vaccinations' column, but I don't remember which column it is?

Use `.loc`

`.loc` - selects subsets of rows and columns by label only. Allowed inputs are:

- A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index, and never as an integer position along the index).

- A list or array of labels, e.g. ['a', 'b', 'c'].

- A slice object with labels, e.g. 'a':'f'.

In [9]:
vacc_df.loc[:,'daily_vaccinations']

0          NaN
1       1367.0
2       1367.0
3       1367.0
4       1367.0
         ...
7628     621.0
7629     588.0
7630     306.0
7631     541.0
7632     529.0
Name: daily_vaccinations, Length: 7633, dtype: float64

I'm missing the location. Let's add it.

In [21]:
vacc_df.loc[:,['location','daily_vaccinations']]

#vacc_df.loc[0:4:,['location', 'total_vaccinations']]  this is to select specific rows

         location  daily_vaccinations
0     Afghanistan                 NaN
1     Afghanistan              1367.0
2     Afghanistan              1367.0
3     Afghanistan              1367.0
4     Afghanistan              1367.0
...           ...                 ...
7628     Zimbabwe               621.0
7629     Zimbabwe               588.0
7630     Zimbabwe               306.0
7631     Zimbabwe               541.0
7632     Zimbabwe               529.0

[7633 rows x 2 columns]

Semantics are similar to iloc. But note:

- `iloc` excludes the last element.  `df.iloc[0:1000]` will return entries 0...999
- `loc`, includes the last element.  `df.loc[0:1000]` will return entries 0...1000

you try it! What is the difference between:

> vacc_df.iloc[0:5]

> vacc_df.loc[0:5]

---
---

Now you: 

what do you do to select:

a. first five rows?

b. first two columns, all rows?

c. 1st and 3rd row and 2nd and 4th column?

---
---

---
A summary of the functions in this unit:

* `.iloc` - selects rows and columns by integer location
* `.loc` - selects rows and columns by label location

Note: indexing operators as the ones working on dictionaries, will also work in pandas. But for more advanced operations, better get used to loc and iloc.

---

<a id='section4'></a>

## 4. Conditional selection

In [10]:
vacc_df.loc[:,'location'] == 'Israel'

0       False
1       False
2       False
3       False
4       False
        ...
7628    False
7629    False
7630    False
7631    False
7632    False
Name: location, Length: 7633, dtype: bool

This creates a series of true/false 

We can insert this into data to select only that task:

In [11]:
vacc_df[vacc_df.loc[:,'location'] == 'Israel']

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
3560,Israel,ISR,2020-12-19,61.0,61.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
3561,Israel,ISR,2020-12-20,7431.0,7431.0,NaN,7370.0,7370.0,0.09,0.09,NaN,851.0
3562,Israel,ISR,2020-12-21,32325.0,32325.0,NaN,24894.0,16132.0,0.37,0.37,NaN,1864.0
3563,Israel,ISR,2020-12-22,76995.0,76995.0,NaN,44670.0,25645.0,0.89,0.89,NaN,2963.0
3564,Israel,ISR,2020-12-23,139990.0,139990.0,NaN,62995.0,34982.0,1.62,1.62,NaN,4042.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3644,Israel,ISR,2021-03-13,9221036.0,5080920.0,4140116.0,33021.0,80715.0,106.53,58.70,47.83,9325.0
3645,Israel,ISR,2021-03-14,9315590.0,5101876.0,4213714.0,94554.0,79439.0,107.63,58.94,48.68,9178.0
3646,Israel,ISR,2021-03-15,9413331.0,5121836.0,4291495.0,97741.0,79099.0,108.75,59.17,49.58,9139.0
3647,Israel,ISR,2021-03-16,9503027.0,5140401.0,4362626.0,89696.0,77223.0,109.79,59.39,50.40,8922.0
3648,Israel,ISR,2021-03-17,9560280.0,5153197.0,4407083.0,57253.0,73775.0,110.45,59.54,50.92,8523.0

Another way:

In [12]:
vacc_df.loc[vacc_df.location == 'Israel']

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
3560,Israel,ISR,2020-12-19,61.0,61.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
3561,Israel,ISR,2020-12-20,7431.0,7431.0,NaN,7370.0,7370.0,0.09,0.09,NaN,851.0
3562,Israel,ISR,2020-12-21,32325.0,32325.0,NaN,24894.0,16132.0,0.37,0.37,NaN,1864.0
3563,Israel,ISR,2020-12-22,76995.0,76995.0,NaN,44670.0,25645.0,0.89,0.89,NaN,2963.0
3564,Israel,ISR,2020-12-23,139990.0,139990.0,NaN,62995.0,34982.0,1.62,1.62,NaN,4042.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3644,Israel,ISR,2021-03-13,9221036.0,5080920.0,4140116.0,33021.0,80715.0,106.53,58.70,47.83,9325.0
3645,Israel,ISR,2021-03-14,9315590.0,5101876.0,4213714.0,94554.0,79439.0,107.63,58.94,48.68,9178.0
3646,Israel,ISR,2021-03-15,9413331.0,5121836.0,4291495.0,97741.0,79099.0,108.75,59.17,49.58,9139.0
3647,Israel,ISR,2021-03-16,9503027.0,5140401.0,4362626.0,89696.0,77223.0,109.79,59.39,50.40,8922.0
3648,Israel,ISR,2021-03-17,9560280.0,5153197.0,4407083.0,57253.0,73775.0,110.45,59.54,50.92,8523.0

Select two countries:

In [13]:
two_countries = vacc_df.loc[(vacc_df.location == 'Israel') | (vacc_df.location == 'Denmark')]
two_countries

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
1939,Denmark,DNK,2020-12-27,6429.0,6429.0,NaN,NaN,NaN,0.11,0.11,NaN,NaN
1940,Denmark,DNK,2020-12-28,8421.0,8421.0,NaN,1992.0,1992.0,0.15,0.15,NaN,344.0
1941,Denmark,DNK,2020-12-29,17305.0,17305.0,NaN,8884.0,5438.0,0.30,0.30,NaN,939.0
1942,Denmark,DNK,2020-12-30,28695.0,28695.0,NaN,11390.0,7422.0,0.50,0.50,NaN,1281.0
1943,Denmark,DNK,2020-12-31,34811.0,34811.0,NaN,6116.0,7096.0,0.60,0.60,NaN,1225.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3644,Israel,ISR,2021-03-13,9221036.0,5080920.0,4140116.0,33021.0,80715.0,106.53,58.70,47.83,9325.0
3645,Israel,ISR,2021-03-14,9315590.0,5101876.0,4213714.0,94554.0,79439.0,107.63,58.94,48.68,9178.0
3646,Israel,ISR,2021-03-15,9413331.0,5121836.0,4291495.0,97741.0,79099.0,108.75,59.17,49.58,9139.0
3647,Israel,ISR,2021-03-16,9503027.0,5140401.0,4362626.0,89696.0,77223.0,109.79,59.39,50.40,8922.0
3648,Israel,ISR,2021-03-17,9560280.0,5153197.0,4407083.0,57253.0,73775.0,110.45,59.54,50.92,8523.0

only the indexs of the tasks:

In [ ]:
two_countries.index.values

the index in the first place:

In [93]:
two_countries.index.values[0]

1331

how many rows for the two countries?

In [14]:
two_countries.count()

location                               169
iso_code                               169
date                                   169
total_vaccinations                     169
people_vaccinated                      169
people_fully_vaccinated                134
daily_vaccinations_raw                 167
daily_vaccinations                     167
total_vaccinations_per_hundred         169
people_vaccinated_per_hundred          169
people_fully_vaccinated_per_hundred    134
daily_vaccinations_per_million         167
dtype: int64

At the end of the file we have some world data.

Use str.contains if you're not sure how this location is called

In [15]:
            
vacc_df[vacc_df['location'].str.contains('World')]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
7510,World,OWID_WRL,2020-12-13,86465.0,86465.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
7511,World,OWID_WRL,2020-12-14,86470.0,86465.0,NaN,5.0,5.0,0.00,0.00,NaN,0.0
7512,World,OWID_WRL,2020-12-15,1615688.0,114965.0,NaN,1529218.0,764612.0,0.02,0.00,NaN,98.0
7513,World,OWID_WRL,2020-12-16,1617988.0,114965.0,NaN,2300.0,510508.0,0.02,0.00,NaN,65.0
7514,World,OWID_WRL,2020-12-17,1622167.0,114965.0,NaN,4179.0,383926.0,0.02,0.00,NaN,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7600,World,OWID_WRL,2021-03-13,357567502.0,218197015.0,82021113.0,10017310.0,8023508.0,4.59,2.80,1.05,1029.0
7601,World,OWID_WRL,2021-03-14,374164796.0,220854542.0,83091747.0,16597294.0,9609236.0,4.80,2.83,1.07,1233.0
7602,World,OWID_WRL,2021-03-15,383906724.0,227679898.0,85993700.0,9741928.0,10016645.0,4.93,2.92,1.10,1285.0
7603,World,OWID_WRL,2021-03-16,391877484.0,232759592.0,88521561.0,7970760.0,10179747.0,5.03,2.99,1.14,1306.0
7604,World,OWID_WRL,2021-03-17,400216092.0,237986716.0,91609377.0,8338608.0,10116748.0,5.13,3.05,1.18,1298.0

Remove the world data:

In [17]:
vacc_df_noWorld = vacc_df.loc[vacc_df.location != 'World']
vacc_df_noWorld.tail()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
7628,Zimbabwe,ZWE,2021-03-13,36359.0,36359.0,NaN,76.0,621.0,0.24,0.24,NaN,42.0
7629,Zimbabwe,ZWE,2021-03-14,36359.0,36359.0,NaN,0.0,588.0,0.24,0.24,NaN,40.0
7630,Zimbabwe,ZWE,2021-03-15,37660.0,37660.0,NaN,1301.0,306.0,0.25,0.25,NaN,21.0
7631,Zimbabwe,ZWE,2021-03-16,39550.0,39550.0,NaN,1890.0,541.0,0.27,0.27,NaN,36.0
7632,Zimbabwe,ZWE,2021-03-17,39607.0,39607.0,NaN,57.0,529.0,0.27,0.27,NaN,36.0

Find the country with the maximum vaccinations:

In [18]:
max_vacc = vacc_df_noWorld.total_vaccinations.max()
max_vacc

152201922.0

In [19]:
vacc_df_noWorld.loc[vacc_df_noWorld.total_vaccinations == max_vacc]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
450,Asia,OWID_ASI,2021-03-17,152201922.0,61403506.0,19819503.0,3520817.0,4557520.0,3.28,1.32,0.43,982.0

What do you think this function does?

In [20]:
vacc_df_noWorld.total_vaccinations.mean()

4837228.435166188

----
#### Your turn:

Select the number of vaccinations in Israel on date 2021-02-06 (hint: use &)

Find all the countries with more than 3000000 vaccinations

---
Summary of the functions in this unit:

* `.index.values` - the row indexes of this part of the dataframes
* `.str.contains` - selects rows and columns that contain a string
* `.max` - maximum value
* `.mean` - average value
* `.count` - the number of rows that contain a value